<h1>Products list</h1>
<% @products.each do |product| %>
  <p><%=product.name %></p>
  <p><button class="more-info" data-id="<%=product.id%>">More Info</button></p>
  <div class="info-style">
    <p class="description-info"></p>
    <p class="inventory-info"></p>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".more-info").on('click', function(e) {
    e.preventDefault();
    let id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $(".description-info").text(data);
    });

    $.get("/products/" + id + "/inventory", function(data) {
      if (data == "true") {
        $(".inventory-info").text("Available");
      } else {
        $(".inventory-info").text("Sold Out");
      }
    });

  });
});
</script>
