<h1>Products list</h1>
<% @products.each do |product| %>
  <p><%=product.name %></p>
  <p><button class="more-info" data-id="<%=product.id%>">More Info</button></p>
<% end %>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    let id = $(this).data("id");
    $.get("/posts/" + id + "/body", function(data) {
      alert(data);
    });
  });
});
</script>
